/* .App{
  background: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);
  padding:20px 20px 20px 20px;
}
.Login{
  background: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);

}


.img-in-card {
  width: 300px;
  height: 300px;
  object-fit: cover
}

.img-in-cart {
  width: 20vw;
  height: 40vh;
  object-fit: cover
}

.userInfoPage{
  text-align: center;
}

.userinfo{
  font-weight:700;
}
.userInfoTitle{
  font-weight:700;
  font-size:35px;
}

.sText{
  font-weight:700;
  font-size:15px;
}
.homePageButton{ border: none;
  outline: none;
  border-radius: 26px;
  background: linear-gradient(to right, #a5bdfd, #dcb5ff);
  color: black;
  font-weight: 800;
  padding: 10px 20px;
  
}
.search-div{
  padding-top:25px;
}
.pressOnPageLabels{
  font-weight:600;
}
.homeContainerTitle{
  Text-align: center; 
 color:#77529E;
 font-weight:900;
}
.welcomeback{
  padding-left: 700px;
}
.signupPage{
  text-align: center;
}

.detailPage{
  text-align: center;
}

.detailImage{
  background-position-x: center;
  background-size: contain;
  width: 300px;
  height:300px;
}

.homebodyContainer{
  padding: 5px 5px 5px 5px;
}
 */

.img-in-card {
  width: 300px;
  height: 300px;
  object-fit: cover
}

/* NEW */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  color: black;
  /* background-color:#94aac4; */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  /* width: 100%; */
  border: none;
  outline: none;
  /* border-radius: 20px; */
  background: black;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Header */
.header {
  width: 100%
}

.navbar-container {
  padding: 40px;
  background: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 1.8rem;
  color: #fff;
}

.nav-link {
  font-size: 17px;
  color: #fff;
  margin-left: 15px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right button {
  color: grey;
  font-size: 15px
}

/* Home Pgae */
.home-container {
  padding: 30px 40px;
  background: #fff;
}

.home-banner {
  height: 250px;
  width: 100%;
}

.home-banner-img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.search-sort-container {
  margin: 10px 0px;
}

.category-container {
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.category-container button {
  width: 25%;
  padding: 10px;
  height: 35px;
}

.search-sort-bar {
  width: 90%;
  height: 35px;
  margin-left: 10%;
  padding: 0 10px;
}


@media screen and (max-width: 768px) {
  /* Header */
  .navbar-container {
    padding: 30px;
  }
  .nav-link {
    font-size: 15px;
    color: #fff;
    margin-left: 9px;
  }

  .header-right button {
    color: grey;
    font-size: 13px;
    padding: 5px 10px;
  }

  /* Home */
  .home-container {
    padding: 20px 30px;
  }
  
  .category-container {
    padding: 0;
  }

  .search-sort-bar {
    width: 100%;
    height: 35px;
    margin: 5px 0 0 0;
  }

  .category-container h3 {
  font-size:14px
  }
  .category-container button {
    width: 23%;
    padding: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {

}