
/* NEW */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
  color: black;
  /* background-color:#94aac4; */
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  /* width: 100%; */
  border: none;
  outline: none;
  /* border-radius: 20px; */
  background: black;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.App {
  background: white;
}

.app-container {
  min-height: calc(100vh - 40px);
}
/* Header */
.header {
  width: 100%
}

.navbar-container {
  padding: 40px;
  background: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 1.8rem;
  color: #fff;
}

.nav-link {
  font-size: 17px;
  color: #fff;
  margin-left: 15px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right button {
  color: grey;
  font-size: 15px
}

/* Home Pgae */
.profile-container,
.home-container,
.shopping-cart-container {
  padding: 30px 40px;
  background: #fff;
}

.home-banner {
  height: 250px;
  width: 100%;
}

.home-banner-img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.search-sort-container {
  margin: 10px 0px;
}

.category-container {
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.category-container button {
  width: 25%;
  padding: 10px;
  height: 35px;
}

.search-sort-bar {
  width: 90%;
  height: 35px;
  margin-left: 10%;
  padding: 0 10px;
}

.product-page-title {
  margin: 20px 0;
}

.img-in-card {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-filter-container button {
  width: 15vw;
}

/* LOGIN AND SIGNUP also see styled.js*/
.submit-btn {
  height: 40px;
  width: 100px;
}

/* PRODUCT DETAIL PAGE */
.product-detail-container {
  padding: 40px;
  background: white;
}

.detail-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.product-detail-info p, 
.product-detail-info h2, 
.product-detail-info form,
.select-box {
  margin-bottom: 10px;
}

.select-box {
  width: 100px;
  padding: 5px;
}

/* SHOPPING CART PAGE */
.img-in-cart {
  width: 100%;
  height:250px;
  object-fit: cover;
}

.shopping-cart-info-container {
  position: relative;
}

.shopping-cart-info-container h3, 
.shopping-cart-info-container p {
  margin-bottom: 5px;
}

.quantity-input {
  padding: 2px;
}

.shopping-cart-subtotal {
  position: absolute;
  bottom: 5px;
}
.shopping-cart-quantity-edit{
  margin: 5px 0 ;
}

.shopping-cart-quantity-btn {
  padding: 10px
}

/* FOOTER */
footer {
  background: black;
  height: auto;
  margin-top: 30px;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 10x;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-content h2,
.footer-content p {
  margin-top: 20px;
  color: #fff;
}

/* PROFILE PAGE */
.profile-user-info-container {
  margin-bottom: 20px;
}


.profile-btn {
  height: 35px;
  width: 130px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
}

.pd-form-input {
  padding: 2px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.profile-edit-btn-container {
  display: flex;
  flex-direction: row;
}

.profile-edit-btn-container button {
  margin: 0px 10px;
}

@media screen and (max-width: 768px) {
  /* Header */
  .navbar-container {
    padding: 30px;
  }
  .nav-link {
    font-size: 15px;
    color: #fff;
    margin-left: 9px;
  }

  .header-right button {
    color: grey;
    font-size: 13px;
    padding: 5px 10px;
  }

  /* Home */
  .profile-container,
  .home-container,
  .product-detail-container ,
  .shopping-cart-container {
    padding: 20px 30px;
  }
  
  .category-container {
    padding: 0;
  }

  .search-sort-bar {
    width: 100%;
    height: 35px;
    margin: 5px 0 0 0;
  }

  .category-container h3 {
  font-size:14px
  }
  .category-container button {
    width: 23%;
    padding: 5px;
    font-size: 12px;
  }

  .product-page-title {
    font-size: 20px;
    margin: 10px 0;
  }

  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-container h3{
    font-size: 14px;
  }

  .info-container p{
    font-size: 12px;
  }

  .info-container button{
    font-size: 12px;
    width: 100%;
    padding: 8px 0;
  }

  .title-filter-container button {
    width: 30vw;
  }

  .detail-image {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }

  .profile-btn-container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  
}